#grid {
  display: grid;
  width: 700px;
  height: 700px;
  border: 1px solid black;
  background-color: wheat;
  margin: 0 auto;
}


.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
